# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/


# Editor folders
.vscode/

# Mac
.DS_Store

.solucao.txt
.SPECIFICATION.md
.GUIA_VERBOSIDADE.md
.FUNCAO_FITNESS_DETALHADA.md

# Outputs
outputs/caso_teste*